<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div>
    <div>
        <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
            <ul class="nav navbar-nav">
                <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="/about">About Me</a></li>
                <li><a href="/guestbook">Guest Book</a></li>
            </ul>
        </nav>
    </div>
    <br/>
    <div class="jumbotron" style="text-align:center">
        <h2>
            Jonathan Mead
        </h2>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <img src="../images/wedding_picture.jpg" style="max-width:65%;display: block; margin: 0 auto; " class="img-fluid img-responsive" alt="The best day of my life. The day I married my one and only">
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    I've spent the last 4 years as a Web developer. In my free time I love to play games and code. This
                    project in itself is a fun project I'm working on in my free time.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12"><hr></div>
            <div class="col-sm-4">
                - PHP
            </div>
            <div class="col-sm-8">
                I've been doing PHP for about 4 years. Primarily I've worked in Graphite like frameworks but I've
                also worked with Laravel and other frameworks.
            </div>
            <div class="col-sm-12"><hr></div>
            <div class="col-sm-4">
                - Javascript
            </div>
            <div class="col-sm-8">
                I've been doing Javascript for around 3 years. This project itself is built in node.js and express.
            </div>
            <div class="col-sm-12"><hr></div>
            <div class="col-sm-4">
                - MySQL
            </div>
            <div class="col-sm-8">
                I've been doing MySQL for around 3 years.
            </div>
            <div class="col-sm-12"><hr></div>
        </div>
    </div>
</div>
</body>
</html>